importFrom("graphics", "barplot", "hist", "legend", "points")
importFrom("stats", "confint", "cor.test", "density", "lm", "predict", "sd")
importFrom("utils", "read.delim", "tail")
export("readDNV")
export("extractSNVs")
export("extractINDELs")
export("extractMNVs")
export("extractAutosomes")
export("extractX")
export("extractY")
export("calculateTiTvRatio")
export("calculateInsertionLengths")
export("calculateDeletionLengths")
export("calculateMNVLengths")
export("calculateDeletionInsertionRatio")
export("countsPerIndividual")
export("parentalAgeObject")
export("fatherAge")
export("motherAge")
export("parentalAge")
export("extractIndividual")
export("annotateCpG")
