importFrom("graphics", "hist", "barplot", "legend", "points")
importFrom("stats", "density", "sd", "cor.test", "lm", "predict", "confint")
importFrom("utils", "read.delim", "tail")
exportPattern("^[[:alpha:]]+")
export("readDNV")
export("extractSNVs")
export("extractINDELs")
export("extractMNVs")
export("extractAutosomes")
export("extractX")
export("extractY")
export("calculateTiTvratio")
export("calculateInsertionLengths")
export("calculateDeletionLengths")
export("calculateMNVLengths")
export("calculateDeletionInsertionratio")
export("countsPerIndividual")
export("parentalAgeObject")
export("fatherAge")
export("motherAge")
export("parentalAge")
export("extractIndividual")
export("annotateCpG")
