exportPattern("^[[:alpha:]]+")
export("readDNV")
export("extractSNVs")
export("extractINDELs")
export("extractMNVs")
export("extractAutosomes")
export("extractX")
export("extractY")
export("calculateTiTvratio")
export("calculateInsertionLengths")
export("calculateDeletionlengths")
export("calculateMNVlengths")
export("calculateDeletionInsertionratio")
export("countsPerIndividual")
export("parentalAgeObject")
export("fatherAge")
export("motherAge")
export("parentalAge")
